<p>
  <mat-toolbar color="primary" class="center">
    <span>Proyecto Final Física I</span>
  </mat-toolbar>
</p>

<br><br><br><br>

<section class="center">
  <br><br>
  <div class="example-button-row">
    <button mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over" routerLink="/menuConversion">
      Conversion de Medidas
    </button>

    <br><br>

    <button mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over" routerLink="/menuFisica">
      Solución de Problemas
    </button>

    <br><br>

    <button mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over" routerLink="/personalInformation">
      Información Estudiante
    </button>
  </div>
</section>
