<p>
  <mat-toolbar color="primary" class="center">
    <span>Movimiento Rectilíneo Uniforme</span>
  </mat-toolbar>
</p>

<br><br><br>

<section class="center">
<mat-card>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>MRU</mat-card-title>
    <mat-card-subtitle>Para hallar el resultado en la calculadora de MRU,
      debe digitar al menos 2 de las variables del movimiento rectilíneo uniforme:</mat-card-subtitle>
    <mat-card-subtitle>Distancia (d), tiempo (t) o velocidad (v).</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <p></p>
  </mat-card-content>
</mat-card>
</section>

<br><br><br>

<section class="center">
   <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label for="distancia">Distancia: </mat-label>
        <input matInput placeholder="Ej. 50 m" id="distancia" [(ngModel)]="distancia" name="distancia" pattern="^[0-9]+(\.[0-9]+)?$">
        <div *ngIf="distancia && !distancia.match('^[0-9]+(\.[0-9]+)?$')">Número no válido</div>
      </mat-form-field>
    </form>
  </div>

  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label for="velocidad">Velocidad: </mat-label>
        <input matInput placeholder="Ej. 50 m/s" id="velocidad" [(ngModel)]="velocidad" name="velocidad" pattern="^[0-9]+(\.[0-9]+)?$">
        <div *ngIf="velocidad && !velocidad.match('^[0-9]+(\.[0-9]+)?$')">Número no válido</div>
      </mat-form-field>
    </form>
  </div>

  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label for="tiempo">Tiempo: </mat-label>
        <input matInput placeholder="Ej. 40 s" id="tiempo" [(ngModel)]="tiempo" name="tiempo" pattern="^[0-9]+(\.[0-9]+)?$">
        <div *ngIf="tiempo && !tiempo.match('^[0-9]+(\.[0-9]+)?$')">Número no válido</div>
      </mat-form-field>
    </form>
  </div>


  <div class="example-label"></div>
  <button mat-raised-button color="primary" (click)="calcular()">Calcular MRU</button>
</section>
<div *ngIf="resultado" class="center">
  <mat-card>
    <mat-card-content>{{resultado}}</mat-card-content>
  </mat-card>
</div>

<br><br><br><br>

<ng-container *ngIf="router.url !== '/menu'">
  <section>
    <div class="end">
      <div class="example-label"></div>
      <button mat-stroked-button color="primary" (click)="backToMenu()">Volver al menú</button>
    </div>
  </section>
</ng-container>
