<p>
  <mat-toolbar color="primary" class="center">
    <span>Menú de Solucion de Problemas Físicos</span>
  </mat-toolbar>
</p>

<br><br>

<section class="center">
  <br><br>
  <div class="example-button-row">
    <button mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over" routerLink="/mru">
      Movimiento Rectilineo Uniforme
    </button>

    <br><br>

    <button mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over" routerLink="/mruv">
      Movimiento Rectilineo Uniforme Variado
    </button>

    <br><br>

    <button mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over" routerLink="/mruv">
      Primera Ley de Newton
    </button>

    <br><br>

    <button mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over" routerLink="/mruv">
      Tercera Ley de Newton
    </button>
  </div>
</section>

<br><br><br>

<ng-container *ngIf="router.url !== '/'">
  <section>
    <div class="end">
      <div class="example-label"></div>
      <button mat-stroked-button color="primary" (click)="backToMenu()">Volver</button>
    </div>
  </section>
</ng-container>
